<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALBX6dLMNp0zPBLyfQvti9mZN8r_YbCus</string>
	<key>GCM_SENDER_ID</key>
	<string>228505798584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waiver.driver</string>
	<key>PROJECT_ID</key>
	<string>driver-b6d28</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-b6d28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228505798584:ios:75f84f9ce383528e3c714d</string>
</dict>
</plist>